<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AWS Cognito Demo App</title>
</head>
<body>
<div>
    <div>
        <h1>AWS Cognito Demo App</h1>
        <div sec:authorize="isAuthenticated()">
            <div>
                Hello, <strong th:text="${#authentication.name}"></strong>!
                <br>
                <br>
            </div>
            <div>
                Here are all the OIDC properties you can use: <div th:text="${#authentication.getPrincipal()}"/>
                <br>
                <br>
            </div>
            <div>
                <a th:href="@{/logout}"><button>Log out</button></a>
            </div>
        </div>

        <div sec:authorize="isAnonymous()">
            <div>
                <a th:href="@{/oauth2/authorization/cognito}"><button>Log in</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>